
<br>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <h3> <%= link_to photo.tag, photo_path(photo) %> </h3>
  <%= image_tag photo.image.url(:thumb) %>
  <%end%>
  <br>
  <a href='/photos/new'>Upload a photo</a>
<%else %>
  No photos uploaded yet.
  <br>
  <a href='/photos/new'>Click this link to add your first</a>
<%end%>
