
<br>
<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <%= image_tag photo.image.url(:thumb) %>
    <h3> <%= photo.tag %> </h2>
  <%end%>
  <a href='/photos/new'>Upload a photo</a>
<%else %>
  No photos uploaded yet.
  <br>
  <a href='/photos/new'>Click this link to add your first</a>
<%end%>
